<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nategreat13.teamactivitytracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".AddCoachAssignedCompletedActivity"
            android:label="@string/title_activity_add_coach_assigned_completed"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PlayerDetailActivity"
            android:label="@string/title_activity_player_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeamSettingsActivity"
            android:label="@string/title_activity_team_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddCompletedActivityActivity"
            android:label="@string/title_activity_add_completed_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddActivityActivity"
            android:label="@string/title_activity_add_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeamHomeActivity"
            android:label="@string/title_activity_team_home" />
        <activity
            android:name=".AddTeamActivity"
            android:label="@string/title_activity_add_team"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddProfileActivity"
            android:label="@string/title_activity_add_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>